@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Role List";
}

<section class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-striped m-b-none" data-ride="datatables">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Role</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href="@Url.Action("RoleEdit","Admin", new { id=item.Id })" class="btn btn-rounded btn-xs btn-info">Users with Role</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            }

        </table>
    </div>

</section>

