@using Microsoft.AspNetCore.Identity
@using TribalSvcPortal.ViewModels
@model TribalSvcPortal.ViewModels.OpenDumpViewModels.OpenDumpViewModel
@Html.AntiForgeryToken()
<div id="tabs" class="tabbable">
    <ul id="myTab" class="nav nav-tabs tab-blue">
        <li class="active">
            @*<a href="#tab1" data-toggle="tab">
                    Pre-Field
                </a>*@
            <a href="@Url.Action("PreField","OpenDump", {new })" role="button" class="btn btn-success">Pre-Field</a>
        </li>
        <li>           
            <a href="@Url.Action("FieldAssessments","OpenDump", Model)" role="button" class="btn btn-success"> Field Assessments</a>
        </li>
        <li>
            <a href="#tab3" data-toggle="tab">
                Waste Profile/Health Threat
            </a>
        </li>

        <li>
            <a href="#tab5" data-toggle="tab">
                Site Cleanup
            </a>
        </li>

    </ul>
</div>
@section scripts {  
    <script type="text/javascript">
        $(document).ready(function () {
          
        });
    </script>
}