
@{
    ViewBag.Title = "Dump Parcels";
    ViewBag.SubTitle = "Select the parcels covered by this dump.";
}

@*<link rel="stylesheet" href="https://js.arcgis.com/3.26/dijit/themes/tundra/tundra.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.26/esri/css/esri.css">*@
@*<link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">*@
<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">

<style>
    html, body, #mapDiv {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    #mapDiv {
        position: relative;
    }

    #info {
        background: #fff;
        box-shadow: 0 0 5px #888;
        left: 1em;
        padding: 0.5em;
        position: absolute;
        top: 1em;
        z-index: 40;
    }

    #viewDiv {
        padding: 0;
        margin: 0;
        height:1000px;
        width: 1000px;
    }
</style>

<div id="viewDiv"></div>
@*<div id="mapDiv">
    <div id="info">
        Hover over a parcel to get more information.
    </div>
</div>*@


@section scripts {

    <script src="https://js.arcgis.com/4.10/"></script>

    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/layers/FeatureLayer"
        ], function (Map, MapView, FeatureLayer) {

            var map = new Map({
                basemap: "streets"
            });

            var view = new MapView({
                container: "viewDiv",
                map: map,
                zoom: 10,
                center: [-95.96, 35.62] // longitude, latitude
            });

            var featureLayer = new FeatureLayer({
                url: "https://arcdev1.mcngis.net/arcgisserver/rest/services/Parcels/TulsaParcels/MapServer"
            });

            map.add(featureLayer);
        });
    </script>
    
}
