@model TribalSvcPortal.ViewModels.OpenDumpViewModels.SearchViewModel
@{
    ViewBag.Title = "Search Open Dumps";
    ViewBag.SubTitle = "Search and view open dump records.";
}

<!-- *********************** START FILTER ****************************************** -->
<div class="row aligned-row">
    <section class="col-md-12 col-sm-12 col-xs-12 ">
        <section class="panel panel-default">
            <div class="panel-heading">
                Filters
                <div class="panel-tools">
                    <a class="btn btn-xs panel-collapse collapses" href="#">
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Search:</label>
                            @*@Html.DropDownListFor(model => model.project.PROJECT_CONTACT_IDX, Model.ddl_AgencyUsers, "", new { @class = "form-control" })*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status:</label>
                            @*@Html.DropDownListFor(model => model.project.PROJECT_CONTACT_IDX, Model.ddl_AgencyUsers, "", new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a id="add-it" href="#modal-form" data-toggle="modal" class="add-it btn btn-rounded btn-primary "><i class="clip-search-2"></i> Search</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>


<!-- *********************** START TABS ****************************************** -->
<div id="tabs" class="tabbable">
    <ul id="myTab" class="nav nav-tabs tab-blue">
        <li class="active" style="line-height: 22px; font-size: 22px;">
            <a href="#tabList" data-toggle="tab">
                <i id="entHelp" class="clip-list help-icon color-eecip"></i>
            </a>
        </li>
        <li style="line-height: 22px; font-size: 22px;">
            <a href="#tabMap" data-toggle="tab">
                <i id="entHelp" class="clip-earth help-icon color-eecip"></i>
            </a>
        </li>
        <li class="pull-right">
            @*<a href="#" style="background-color: #FFF; border: 0px; font-weight: bold; font-size: 11px;">Record Count: @( 0)</a>*@
            <button href="@Url.Action("PreField", "OpenDump")" class="btn btn-rounded btn-success"><i class="glyphicon glyphicon-plus"></i> Add New</button>

        </li>
    </ul>

    <!--  ************************************** TAB CONTENT *********************************************************-->
    <div class="tab-content">
        <div class="tab-pane in active" id="tabList">
            List
        </div>
        <div class="tab-pane" id="tabMap">
            Map
        </div>
    </div>
</div>
<!-- *********************** END TABS ****************************************** -->