@{
    ViewData["Title"] = "Email Successfully Verified";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="panel-body wrapper-lg">
    <h4>
        Thank you for verifying your email.
    </h4>
    <a class="btn btn-eecip" href="@Url.Action("Login", "Account")" >Log In</a>

</div>
