@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<p style="margin:30px;">
    If an account exists at the email you provided, a password reset link has been sent.
</p>
