@using TribalSvcPortal.Data.Models

@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="panel-body wrapper-lg">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control input-lg" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control input-lg" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
    <hr />
    <div class="form-group">
        <p>
            <a asp-action="ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            Don't have an account yet? <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Create an account</a>
        </p>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
