@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="panel-body wrapper-lg">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div id="orgAlert" class="alert alert-success" style="display:none">
        <i class="clip-checkmark-circle-2"></i>
        <span id="orgAlertTxt"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input id="terms" name="terms" type="checkbox" value="false">
            I accept the Terms And Conditions
        </label>
    </div>

    <div class="panel-group accordion-custom accordion-teal" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                        <i class="clip-arrow-down"></i>
                        Terms and Conditions (click to view)
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true" style="">
                <div class="panel-body" style="max-height: 120px; overflow-y: scroll;">

                    <p>@Html.Raw(Model.termsConditions)</p>
                </div>
            </div>
        </div>
    </div>
    <button id="formsubmit" type="submit" class="btn btn-eecip" disabled="disabled">Register</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#terms').click(function () {
                if ($(this).is(':checked')) {
                    $('#formsubmit').removeAttr('disabled');
                } else {
                    $('#formsubmit').attr('disabled', 'disabled');
                }
            });
        });

        $("#Email").focusout(function () {
            if ($(this).val().length > 8)
            {
                $(function () {
                    var _email = $("#Email").val();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("LookupAgencyEmail", "Account")',
                        data: { email: _email },
                        dataType: "json",
                        traditional: true,
                        success: function (response) {
                            if (response.msg == "Success") {
                                $("#orgAlert").show();
                                $("#orgAlertTxt").text("Your account will be associated with " + response.orgname);
                            }
                            else {
                                $("#orgAlert").hide();
                            }
                        },
                        error: function () {}
                    });
                });

            }
        });
    </script>
}