@{
    ViewData["Title"] = "Resend email verification confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<p style="margin:30px;">
    Your verification email has been resent. Please check your email to confirm your account.
</p>
